/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgb(255, 255, 255), #c4fcf7b1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  width: 100vw;
  height: 100vh;
}
.form-group.error input{
  border-color: rgba(202, 0, 0, 0.849);
}
.form-group.success input{
  border-color: rgb(0, 173, 0);
}
.form-group .error{
  color: red;
  font-size:1em;
  height: 13px;
}
h1 {
  text-align: center;
}

.option {
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
  font-weight: 500;
}

.signup-container {
  width: 50vw;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.other {
  display: inline-flex;
  width: 100%;
  height: 50px;
  background: rgb(209, 214, 230);
  padding: 5px 0;
  border-radius: 6px;
  cursor: pointer;
}

.other span {
  color: #000000;
  font-size: 1.4em;
  text-transform: capitalize;
  font-weight: 400;
  margin: 11px;
}

.other i {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  background: blue;
  width: 40px;
  height: 40px;
  color: #fff;
  align-items: center;
  border-radius: 50%;
}

.other:is(:hover, :focus) {
  transform: scale(1.1);
  background: #d2ceced2;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
  .body{
    padding: 0 10px;
    width: inherit;
  }

.other span {
  font-size: 1.2em;
}
  .signup-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

}

@media screen and (min-width: 600px) {
  .body{
    padding: 0;
  
  }
  .signup-container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(1,6fr);
  }
}@media screen and (min-width: 1700px) {
  .body{
    padding: 0;
  
  }
  .signup-container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(1,6fr);
  }
}
