*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.table{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}
a{
    text-decoration: none;
    color: #042eb9;
    font-weight: 500;
    cursor: pointer;
}
a:hover{
    color: #154af6;
    font-size: 1.3rem;
}